@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0;
  background: url(https://www.htmlgoodies.com/wp-content/uploads/2021/04/JavaScript.jpg);
  position: relative;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #202026;
}

span {
  font-weight: 500;
}

h2 {
  font-size: 5.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 2.8125rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 2.5rem;
  line-height: 3.4375rem;
  font-weight: 500;
}

.wraper-out {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.section-left {
  background-color: #202026;
  width: 35%;
}
.section-left h3, .section-left h4 {
  color: #ffffff;
}
.section-left .section-image {
  height: 81.25rem;
  background: #202026;
}
.section-left .section-image img {
  width: 100%;
}
.section-left .section-educetion {
  margin-left: 11.25rem;
  margin-top: 8.75rem;
}
.section-left .section-educetion-title {
  padding-bottom: 3.125rem;
  border-bottom: 0.40625rem solid #fecb00;
}
.section-left .section-educetion-main {
  margin-left: 2.5rem;
  margin-top: 5.3125rem;
  margin-right: 12.5rem;
  margin-bottom: 6.25rem;
}
.section-left .section-educetion-main-company {
  padding-bottom: 1.25rem;
}
.section-left .section-educetion-main-company h4 {
  text-transform: uppercase;
  font-size: 2.5625rem;
  font-weight: 600;
}
.section-left .section-educetion-main-text a {
  color: #fecb00;
  display: inline-block;
  transition: 1s all;
}
.section-left .section-educetion-main-text a:hover {
  padding-left: 1.5625rem;
  transform: scale(1.2, 1.2);
  cursor: pointer;
}
.section-left .section-educetion-main-text h4 {
  font-size: 2rem;
  line-height: 3.75rem;
  font-weight: 500;
}
.section-left .section-contact {
  padding-top: 3.75rem;
}
.section-left .section-contact:nth-child(4) {
  padding-top: 6.25rem;
}
.section-left .section-contact-main {
  height: 4.6875rem;
  background-color: #292a30;
  display: flex;
  flex-wrap: wrap;
}
.section-left .section-contact-main-block {
  width: 20%;
  background-color: #fecb00;
}
.section-left .section-contact-main-phone {
  display: flex;
  align-items: center;
  padding-left: 3.4375rem;
}
.section-left .section-contact-main-phone h3 {
  letter-spacing: 0;
  font-size: 2.5rem;
  text-transform: none;
}
.section-left .section-contact-text {
  padding-left: 15rem;
  padding-top: 0.625rem;
}
.section-left .section-contact-text a {
  color: #fecb00;
  text-decoration: none;
  display: inline-block;
  transition: 1s all;
}
.section-left .section-contact-text a:hover {
  transform: scale(1.1, 1.1);
}
.section-left .section-contact-text h4 {
  font-size: 2.1875rem;
}

.section-right {
  width: 65%;
  background-color: white;
}
.section-right .title {
  margin-top: 18.75rem;
  height: 31.25rem;
  background-color: #fecb00;
}
.section-right .title .name {
  padding: 10.625rem 0 0 9.6875rem;
}
.section-right .title .professional-title {
  padding: 3.4375rem 0 0 9.6875rem;
}
.section-right .section-abou-me {
  padding-left: 9.6875rem;
  padding-bottom: 8.125rem;
  padding-right: 12.5rem;
}
.section-right .section-abou-me-header {
  padding-bottom: 3.4375rem;
  padding-top: 8.75rem;
  border-bottom: 0.3125rem solid #202026;
}
.section-right .section-abou-me-text {
  padding-top: 2.5rem;
}
.section-right .section-work {
  padding-left: 9.6875rem;
  padding-bottom: 8.125rem;
  padding-right: 12.5rem;
}
.section-right .section-work-header {
  padding-bottom: 3.4375rem;
  border-bottom: 0.3125rem solid #202026;
}
.section-right .section-work-context {
  padding-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
}
.section-right .section-work-context h4 {
  font-weight: 700;
}
.section-right .section-work-context-years {
  width: 30%;
}
.section-right .section-work-context-main {
  width: 60%;
}
.section-right .section-work-context-main-company {
  padding-top: 2.1875rem;
}
.section-right .section-work-context-main-text {
  padding-top: 3.125rem;
}
.section-right .section-work-context-main-text h4 {
  font-weight: 600;
}
.section-right .section-work-skill {
  padding-left: 28.75rem;
  padding-right: 2.1875rem;
  padding-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-right .section-work-skill-item {
  width: 45%;
  padding-bottom: 3.75rem;
}
.section-right .section-work-skill-item-rage {
  margin-top: 2.8125rem;
  width: 100%;
  height: 0.40625rem;
  background-color: #cccccc;
}
.section-right .section-work-skill-item-rage::after {
  display: flex;
  content: "";
  width: 70%;
  height: 0.40625rem;
  background-color: #2d2d2d;
}
.section-right .section-work-skill-item .wide-html::after {
  width: 90%;
}
.section-right .section-work-skill-item .wide-JS::after {
  width: 75%;
}
.section-right .section-work-skill-item .wide-NJ::after {
  width: 55%;
}
.section-right .section-work-skill-item .wide-CD::after {
  width: 95%;
}
.section-right .section-work-skill-item .wide-VSC::after {
  width: 80%;
}

.wraper-popup {
  position: absolute;
  left: -110%;
  top: 0;
  background-color: blanchedalmond;
  width: 100%;
  min-height: 100%;
  opacity: 0.3;
  transition: 0.5s;
}

.open-button {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.46875rem solid #202026;
  position: fixed;
  right: 6.25rem;
  bottom: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
@keyframes button-call {
  from {
    width: 10.9375rem;
    height: 10.9375rem;
    opacity: 0.8;
  }
  to {
    width: 12.5rem;
    height: 12.5rem;
    opacity: 0;
  }
}

.open-button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 0.46875rem solid #202026;
  animation: button-call 2s ease 1s infinite;
}

.open-button:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.bi {
  font-size: 6.875rem;
  color: #202026;
  transition: 0.5s;
}

.form-popup {
  position: fixed;
  overflow: hidden;
  right: 6.25rem;
  bottom: -100%;
  max-width: 18.75rem;
  transition: 0.5s;
}
.form-popup .form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.form-popup .form-container a {
  padding: 0.9375rem 1.25rem;
}
.form-popup .form-container a:hover i {
  font-size: 8.4375rem;
}

@media (min-width: 1px) and (max-width: 576px) {
  html {
    font-size: 2.5px;
  }

  body {
    width: 100%;
    background: none;
  }

  .wraper-out {
    max-width: 420px;
  }

  .section-right .section-work-skill {
    padding-left: 12.5rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 4px;
  }

  .wraper-out {
    max-width: 600px;
  }

  .section-right .section-work-skill {
    padding-left: 12.5rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 4px;
  }

  .wraper-out {
    max-width: 600px;
  }

  .section-right .section-work-skill {
    padding-left: 15.625rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 6px;
  }

  .wraper-out {
    max-width: 900px;
  }

  .section-right .section-work-skill {
    padding-left: 15.625rem;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 6px;
  }

  .wraper-out {
    max-width: 900px;
  }

  .section-right .section-work-skill {
    padding-left: 15.625rem;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 8px;
  }

  .wraper-out {
    max-width: 1200px;
  }

  .section-right .section-work-skill {
    padding-left: 15.625rem;
  }
}
